.nokia-rating-star {
    width: 27px;
    margin: 4px 2px;
    height: 27px;
    float: left;
    background: transparent url(images/rating.png) no-repeat;
}

.nokia-rating-star-full {
    background-position: 0 -27px;
}

.nokia-rating-star-full-hover {
    background-position: 0 -27px;
}